*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0f0f0f;
  color: #fff;
  line-height: 1.5;
}

//VARIABLES
$bg-dark: #0f0f0f;
$card-bg: rgba(255, 255, 255, 0.05);
$border-light: rgba(255, 255, 255, 0.1);

$text-light: #ffffff;
$text-muted: #aaaaaa;

$primary-gradient: linear-gradient(90deg, #8a2be2, #00bfff);
$focus-glow: #00bfff;

//MIXIN
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin glass-card {
  background: $card-bg;
  backdrop-filter: blur(10px);
  border: 1px solid $border-light;
}

@mixin input-style {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: #1b1b1b;
  color: $text-light;
  font-size: 14px;

  transition: 0.3s;

  &:focus {
    box-shadow: 0 0 5px $focus-glow;
  }
}

@mixin button-style {
  padding: 12px;
  border-radius: 10px;
  border: none;

  background: $primary-gradient;
  color: white;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;

  &:active {
    transform: scale(1.05);
  }
}

